<settings xmlns="http://maven.apache.org/SETTINGS/1.1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd">
    <proxies>
        <proxy>
            <id>proxy-veci</id>
            <host>proxycorp.geci</host>
            <port>8080</port>
            <active>true</active>
            <protocol>http</protocol>
            <nonProxyHosts>127.0.0.1|localhost|*veci.geci</nonProxyHosts>
            <username>T0000104</username>
            <password>12345678</password>
        </proxy>
    </proxies>
</settings>